/* ==UserStyle==
@name           bilibili Enhanced
@namespace      github.com/sparanoid/usercss
@version        1.0.10
@description    bilibili main site and live enhanced
@author         Sparanoid
==/UserStyle== */

@-moz-document domain("bilibili.com") {
  
  /* stupid bilibili logo when video player paused */
  .bilibili-player-video-state,
  .bpx-player-state-wrap {
    display: none !important;
  }
  
  /* bilibili name reveal */
  #h-name,
  .bili-dyn-title__text,
  .name,
  .username,
  .dyn-orig-author__name,
  .bili-user-profile-view__info__uname
  {
    font-family: Menlo, Consolas, monospace !important;
  }

  .no-select, .none-select {
    user-select: auto !important;
  }

}

@-moz-document domain("t.bilibili.com"), domain("space.bilibili.com") {
  
  /* Make video card draggable */
  .post-content .live-container a,
  .post-content .video-container a {
    display: block;
  }
}

@-moz-document domain("live.bilibili.com") {

  /* 直播增强 */
  /* 修改全屏 modal 至左上角，方便连击收辣条 */
  div[role="alertdialog"] {
    width: auto;
    height: auto;
    display: block;
    bottom: auto;
    right: auto;
    left: 1em;
    top: 1em;
  }

  div[role="alertdialog"] .body-merge {
    display: none;
  }

  div[role="alertdialog"] .dp-table-cell {
    display: block;
  }

  /* 屏蔽逆天引流入场特效 */
  .activity-welcome.welcome-animation-item {
    display: none !important;
  }

  /* 缩小侧栏 */
  .side-bar-cntr {
    transform: scale(0.7) !important;
    transform-origin: right bottom;
  }
  
  /* 删除直播水印 */
  .web-player-icon-roomStatus {
    display: none;
  }
  
  /* 删除反馈按钮 */
  .web-player-icon-feedback {
    display: none;
  }

  /* SC 显示增强 */
  .pay-note-panel {
    height: auto !important;
    padding-top: 5px !important;
  }
  
  .pay-note-panel .card-list .card-wrapper {
    white-space: unset !important;
  }
  
  .pay-note-panel .card-list {
    align-items: start !important;
    overflow-y: auto !important;
    max-height: 300px !important;
    scrollbar-width: none;
  }

  .pay-note-panel .card-list::-webkit-scrollbar { 
    display: none;
  }

  .pay-note-panel .detail-info {
    top: auto !important;
    z-index: 2 !important;
  }
  
  .card-detail {
    margin-top: 10px !important;
  }
  
  /* hide fly-in superchats */
  #chat-msg-bubble-vm {
    display: none;
  }

  /* 逆天前端打码遮挡 😅 */
  #web-player-module-area-mask-panel {
    display: none !important;
  }
}

@-moz-document url-prefix("https://www.bilibili.com/read"), url-prefix("https://www.bilibili.com/judgement") {

  /* 专栏 + 纪风委员会文本自由选定 */
  * {
    user-select: auto !important;
  }

  .watermark-wrap .watermark {
    display: none;
  }

}

@-moz-document url-prefix("https://www.bilibili.com/bangumi") {

  .bpx-player-stardcard {
    display: none;
  }

}
