/* ==UserStyle==
@name           bilibili Enhanced
@namespace      github.com/sparanoid/usercss
@version        1.0.3
@description    bilibili main site and live enhanced
@author         Sparanoid
==/UserStyle== */

@-moz-document domain("live.bilibili.com") {

  /* 直播增强 */
  /* 修改全屏 modal 至右下角，方便连击收辣条 */
  div[role="alertdialog"] {
    width: auto;
    height: auto;
    display: block;
    bottom: 1em;
    right: 1em;
    left: auto;
    top: auto;
  }

  div[role="alertdialog"] .body-merge {
    display: none;
  }

  div[role="alertdialog"] .dp-table-cell {
    display: block;
  }

  /* 屏蔽逆天引流入场特效 */
  .activity-welcome.welcome-animation-item {
    display: none !important;
  }

  /* 缩小侧栏 */
  .side-bar-cntr {
    transform: scale(0.7) !important;
    transform-origin: right bottom;
  }
  
  /* 删除直播水印 */
  .web-player-icon-roomStatus {
    display: none;
  }
  
  /* 删除反馈按钮 */
  .web-player-icon-feedback {
    display: none;
  }

  /* SC 显示增强 */
  .pay-note-panel {
    height: auto !important;
    padding-top: 5px !important;
  }
  
  .pay-note-panel .card-list .card-wrapper {
    white-space: unset !important;
  }
  
  .pay-note-panel .card-list {
    align-items: start !important;
    overflow-y: auto !important;
    max-height: 300px !important;
    scrollbar-width: none;
  }

  .pay-note-panel .card-list::-webkit-scrollbar { 
    display: none;
  }

  .pay-note-panel .detail-info {
    top: auto !important;
    z-index: 2 !important;
  }
  
  .card-detail {
    margin-top: 10px !important;
  }

}

@-moz-document url-prefix("https://www.bilibili.com/read"), url-prefix("https://www.bilibili.com/judgement") {

  /* 专栏 + 纪风委员会文本自由选定 */
  * {
    user-select: auto !important;
  }

  .watermark-wrap .watermark {
    display: none;
  }

}
