/* ==UserStyle==
@name           Lightweight jd.com
@namespace      github.com/sparanoid/usercss
@version        1.0.1
@description    A new userstyle
@author         t@sparanoid.com
==/UserStyle== */

@-moz-document domain("jd.com") {
    .jTdCode,
    #J_promotional-top,
    #J_app,
    #J_fs_act,
    #J_news,
    #treasure,
    #top-banner,
    .lc-goods-seckill,
    .lc-ad-base,
    .lc-goods-guess {
        display: none !important;
    }
}

@-moz-document domain("item.jd.com") {
    .jdm-tbar-tab-qrcode {
        display: none !important;
    }
}
