/* ==UserStyle==
@name           Lightweight Taobao
@namespace      github.com/sparanoid/usercss
@version        1.0.4
@description    Taobao search-only homepage
@author         Sparanoid (t@sparanoid.com)
==/UserStyle== */

@-moz-document domain("www.taobao.com") {
  body [data-name="plugin"],
  body [data-name="nav"],
  body [data-name="banner"],
  body [data-name="superbanner"],
  body [data-name="fixedtool"],
  body [data-sg-type="hotWord"],
  body [data-spm="pop"],
  body .decorations-item,
  body .screen-outer,
  body .layer,
  body .tb-footer,
  body .tbh-logo-right,
  body .tbh-qr-wrapper {
    display: none !important;
  }
  
  body, html {
    background: #fff !important;
  }
}
